{{- $networkValues := default (dict) (index .Values .Values.node.network) -}}
#########################################################
# Node-specific configuration
#########################################################
beneficiary = {{ .Values.node.beneficiary | quote }}
node_name = {{ .Values.node.name | quote }}
network_name = {{ .Values.node.network | quote }}
ipc_tx_batch_size = 1000
ipc_max_queued_batches = 10
# must be <= ipc_max_queued_batches
ipc_queued_batches_watermark = 3

statesync_threshold = 600
statesync_max_concurrent_requests = 5

#########################################################
# Network-wide configuration
#########################################################
chain_id = {{ $networkValues.chainId }}

[peer_discovery]
self_address = {{ .Values.node.peerDiscovery.address | quote }} # add <IP>:<PORT>
self_record_seq_num = {{ .Values.node.peerDiscovery.seqNum }}                   # Should be 0 initially
self_name_record_sig = {{ .Values.node.peerDiscovery.recordSig | quote }} # add <name_record_sig>
{{- if .Values.authUDP.enabled}}
self_auth_port = {{ .Values.authUDP.port }}
{{- end }}
refresh_period = {{ .Values.node.peerDiscovery.refreshPeriod }}
request_timeout = {{ .Values.node.peerDiscovery.requestTimeout }}
unresponsive_prune_threshold = {{ .Values.node.peerDiscovery.unresponsivePruneThreshold }}
last_participation_prune_threshold = {{ .Values.node.peerDiscovery.lastParticipationPruneThreshold }}
min_num_peers = {{ .Values.node.peerDiscovery.minNumPeers }}
max_num_peers = {{ .Values.node.peerDiscovery.maxNumPeers }}
ping_rate_limit_per_second = {{ .Values.node.peerDiscovery.pingRateLimitPerSecond }}

[fullnode_raptorcast]
enable_client = {{ .Values.node.fullnodeRaptorcast.enableClient }}
enable_publisher = {{ .Values.node.fullnodeRaptorcast.enablePublisher }}
raptor10_fullnode_redundancy_factor = {{ .Values.node.fullnodeRaptorcast.raptor10FullnodeRedundancyFactor | printf "%.1f" }}
max_group_size = {{ .Values.node.fullnodeRaptorcast.maxGroupSize }}
round_span = {{ .Values.node.fullnodeRaptorcast.roundSpan }}
invite_lookahead = {{ .Values.node.fullnodeRaptorcast.inviteLookahead }}
max_invite_wait = {{ .Values.node.fullnodeRaptorcast.maxInviteWait }}
deadline_round_dist = {{ .Values.node.fullnodeRaptorcast.deadlineRoundDist }}
init_empty_round_span = {{ .Values.node.fullnodeRaptorcast.initEmptyRoundSpan }}
max_num_group = {{ .Values.node.fullnodeRaptorcast.maxNumGroup }}
invite_future_dist_min = {{ .Values.node.fullnodeRaptorcast.inviteFutureDistMin }}
invite_future_dist_max = {{ .Values.node.fullnodeRaptorcast.inviteFutureDistMax }}
invite_accept_heartbeat_ms = {{ .Values.node.fullnodeRaptorcast.inviteAcceptHeartbeatMs }}

[network]
bind_address_host = {{ .Values.node.networkConfig.bindAddressHost | quote }}
bind_address_port = {{ .Values.node.networkConfig.bindAddressPort }}
{{- if .Values.authUDP.enabled }}
authenticated_bind_address_port = {{ .Values.authUDP.port }}
{{- end }}
max_rtt_ms = {{ .Values.node.networkConfig.maxRttMs }}
max_mbps = {{ .Values.node.networkConfig.maxMbps }}

#########################################################
# Peers configuration
#########################################################
{{- if .Values.node.fullnodes }}
{{- range .Values.node.fullnodes }}
[[bootstrap.peers]]
address = {{ .address | quote }}
secp256k1_pubkey = {{ .pubkey | quote }}
record_seq_num = {{ .recordSeqNum }}
name_record_sig = {{ .nameRecordSig | quote }}
[[fullnode_dedicated.identities]]
secp256k1_pubkey = {{ .pubkey | quote }}
{{- end }}
{{- else }}
[fullnode_dedicated]
identities = []
{{- end }}

[fullnode_raptorcast.full_nodes_prioritized]
identities = []

[blocksync_override]
peers = []

[statesync]
expand_to_group = true
init_peers = []

{{- range .Values.node.peers }}

[[statesync.init_peers]]
secp256k1_pubkey = {{ . | quote }}
{{- end }}

{{- range $networkValues.bootstrapPeers }}

[[bootstrap.peers]]
address = {{ .address | quote }}
record_seq_num = {{ .recordSeqNum }}
name_record_sig = {{ .nameRecordSig | quote }}
secp256k1_pubkey = {{ .pubkey | quote }}
{{- if .authPort }}
auth_port = {{ .authPort }}
{{- end }}
{{- end }}

{{- range .Values.node.bootstrapPeers }}

[[bootstrap.peers]]
address = {{ .address | quote }}
record_seq_num = {{ .recordSeqNum }}
name_record_sig = {{ .nameRecordSig | quote }}
secp256k1_pubkey = {{ .pubkey | quote }}
{{- end }}
