{{- $networkValues := default (dict) (index .Values .Values.node.network) -}}

#########################################################
#                                                       #
#        WARNING: THIS FILE SHOULD NEVER BE USED        #
#              IN PRODUCTION ENVIRONMENTS!              #
#                                                       #
#########################################################

#########################################################
# Node-specific configuration
#########################################################
beneficiary = {{ .Values.node.beneficiary | quote }}
node_name = {{ .Values.node.name | quote }}
network_name = {{ .Values.node.network | quote }}
ipc_tx_batch_size = 1000
ipc_max_queued_batches = 10
# must be <= ipc_max_queued_batches
ipc_queued_batches_watermark = 3

statesync_threshold = 600
statesync_max_concurrent_requests = 5

#########################################################
# Network-wide configuration
#########################################################
chain_id = {{ $networkValues.chainId }}

[peer_discovery]
self_address = {{ .Values.node.address | quote }} # add <IP>:<PORT>
self_record_seq_num = {{ .Values.node.seqNum }}                   # Should be 0 initially
self_name_record_sig = {{ .Values.node.recordSig | quote }} # add <name_record_sig>
refresh_period = 20
request_timeout = 5
unresponsive_prune_threshold = 3
last_participation_prune_threshold = 1000
min_num_peers = 1
max_num_peers = 450
ping_rate_limit_per_second = 100

[fullnode_raptorcast]
enable_client = {{ .Values.node.enableClient }}
enable_publisher = {{ .Values.node.enablePublisher }}
raptor10_fullnode_redundancy_factor = 3.0
max_group_size = 150
round_span = 240
invite_lookahead = 120
max_invite_wait = 10
deadline_round_dist = 10
init_empty_round_span = 23
max_num_group = 3
invite_future_dist_min = 1
invite_future_dist_max = 600
invite_accept_heartbeat_ms = 10000

[fullnode_raptorcast.full_nodes_prioritized]
identities = []

[network]
bind_address_host = "0.0.0.0"
bind_address_port = 8000
max_rtt_ms = 300
max_mbps = 1000

#########################################################
# Peers configuration
#########################################################
{{- if .Values.node.fullnodes }}
{{- range .Values.node.fullnodes }}
[[bootstrap.peers]]
address = {{ .address | quote }}
secp256k1_pubkey = {{ .pubkey | quote }}
record_seq_num = {{ .recordSeqNum }}
name_record_sig = {{ .nameRecordSig | quote }}
[[fullnode_dedicated.identities]]
secp256k1_pubkey = {{ .pubkey | quote }}
{{- end }}
{{- else }}
[fullnode_dedicated]
identities = []
{{- end }}

[blocksync_override]
peers = []

[statesync]
expand_to_group = true

{{- range $networkValues.initPeers }}

[[statesync.init_peers]]
secp256k1_pubkey = {{ . | quote }}
{{- end }}

{{- range .Values.node.peers }}

[[statesync.init_peers]]
secp256k1_pubkey = {{ . | quote }}
{{- end }}

{{- range $networkValues.bootstrapPeers }}

[[bootstrap.peers]]
address = {{ .address | quote }}
record_seq_num = {{ .recordSeqNum }}
name_record_sig = {{ .nameRecordSig | quote }}
secp256k1_pubkey = {{ .pubkey | quote }}
{{- end }}

{{- range .Values.node.bootstrapPeers }}

[[bootstrap.peers]]
address = {{ .address | quote }}
record_seq_num = {{ .recordSeqNum }}
name_record_sig = {{ .nameRecordSig | quote }}
secp256k1_pubkey = {{ .pubkey | quote }}
{{- end }}
